<h2> List of all drugstore companies </h2>
<%@drugstore.each.with_index(1) do |comp_drugstore, index|%>
<p><%=index%>
<p>Name: <%=comp_drugstore.name%></p>
<p>Location: <%=comp_drugstore.location%></p>

<p><%comp_drugstore.offers.each do |offer|%></p>
<p>Offer: <%=offer.description%></p>
<% end %>
<% end %>
