<h2> List of all food companies </h2>
<%@food.each.with_index(1) do |comp_food, index|%>
<p><%=index%>
<p>Name: <%=comp_food.name%></p>
<p>Location: <%=comp_food.location%></p>

<p><%comp_food.offers.each do |offer|%></p>
<p>Offer: <%=offer.description%></p>
<% end %>
<% end %>
