<h2> List of all companies </h2>

  <%@companies.each.with_index(1) do |company, index|%>
    <h3><%= "#{index}. " %><%= link_to company.name, company_path(company) %></h3>
  <% end %>

<%= link_to "Add a new company", new_company_path %>
