<div class="home-container">
<h1> Welcome to Offers </h1>
    <% if user_signed_in? %>
<h3><%= link_to 'View your current offers', companies_path %></h3>
<h3><%= link_to 'Add a new offer', new_company_path %></h3>
<h3> <!--#link to 'Add a new offer', new_travel_offer_path(@travel)--> </h3>
<% end %>
<h3><%= link_to 'View all current offers', travels_path %></h3><br>

<% if user_signed_in? && admin %>
  <h3><%= link_to 'Add a new travel', new_travel_path %></h3>
<% end %>

<h4>Future features for this whitespace: Offer of the day, Top offers, New companies promo, Other ad/promo</h4>
</div>
