<h1> Welcome to Offers </h1>

Log-In
<h3><%= link_to 'Your companies', companies_path %></h3>
<h3><%= link_to 'View your current offers', offers_path %></h3>
<h3><%= link to 'Add a new offer', new_travel_offer_path(@travel) %></h3>


ALL - Choose a route to see offers or search by company category
